{% extends 'base.html' %}
{% block header %}
    <h2>{% block title %}¡Crea una publicación!{% endblock %}</h2>
{% endblock %}

{% block content %}
    <p>Para crear una publicación, es necesario ingresar un título y el contenido de la misma</p>
    <form method="POST">
        <label for="title">Título</label>
        <input type="text" name="title" id="title" required>
        <label for="body">Contenido</label>
        <textarea name="body" id="body" cols="30" rows="10"></textarea>
        <div class="btn">
            <input type="submit", value="Crear">
        </div>
    </form>
{% endblock %}