<!-- admin_dashboard.html -->

{% extends 'base.html' %}

{% block title %}Panel de Administrador{% endblock %}

{% block content %}
    <h2>Bienvenido al Panel de Administrador, {{ g.user.username }}.</h2>
    <p>Aquí puedes realizar acciones administrativas.</p>

    <!-- Agrega aquí cualquier contenido específico para el panel de administrador -->

    <!-- Por ejemplo, un enlace para generar reportes -->
    <a href="{{ url_for('admin.generate_report') }}">Generar Reporte</a>

{% endblock %}
